@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<main class="posts-listing col-12">
    <div class="container">
        <div class="row">
            @foreach (var article in Model.Articles)
            {
                <!-- Post-->
                <div class="post col-6">
                    <div class="post-thumbnail">
                        <a asp-page="/ArticleDetails" asp-route-id="@article.Id" >
                            <img class="img-fluid" style="max-height: 250px" src="@article.Image" title="@article.Title" alt="@article.Title" />
                        </a>
                    </div>
                    <div class="post-body">
                        <div class="justify-content-between">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date meta-last">@article.CreationDate</div>
                                <div class="category">
                                    <a asp-page="/ArticleDetails" asp-route-id="@article.Id">@article.ArticleCategory</a>
                                </div>
                            </div>
                            <a asp-page="/ArticleDetails" asp-route-id="@article.Id">
                                <h3 class="h4">@article.Title</h3>
                            </a>
                            <p class="text-muted">
                                @article.ShortDescription
                            </p>
                            <footer class="post-footer d-flex align-items-center">
                                <div class="comments"><i class="icon-comment"></i>@article.CommentsCount</div>
                            </footer>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>
